#header h1{
	color: #3B0B0B;
	background-color: #81F7F3;
	padding: 5px;
}

#header ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

#header li{
	float:right;
	margin:0px;
	padding:0px;
}

#header li a{
	display: block;
	width: 150px;
	background-color: #F2F5A9;
	margin-left: 5px;
	text-align:center;
	color: #FE642E;
	padding:2px;
}

.caption h1{
	color: grey;
}


.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:24.99%;
border: 1px solid purple;
padding: 20px;}

.col-4{width:33.32%;}

.col-5{width:41.65%;}

.col-6{width:49.98%;
border: 1px solid purple;
padding: 20px;}

.col-7{width:58.31%;}
.col-8{width:66.64%;}
.col-9{width:74.97%;}
.col-10{width:83.30%;}
.col-11{width:91.63%;}
.col-12{width:100%;
border: 1px solid purple;
padding: 20px;}

.row{
	display: inline-flex;
	width: 100%;
	padding: 20px;
}

body{
	background-image: url('white.jpg');
	background-size: 100%;
}

.center{
	position: center;
	padding: 50px;
	text-align: center;
}

.comment{
	text-align: center;
	padding: 20px;
	margin: center;
	text-decoration: bold;
	font-size: 20px;

} 

.option {
	display: inline-block;
	text-align: center;
	padding: 40px;
	margin: left;
	text-decoration: bold;
	font-size: 30px;
	color: purple;
}

.col3 {
	width:24.99%;
	padding: 20px;
}

#footer {
	background-color: #F2F5A9;
}

#footer h1{
	color: #3B0B0B;
	padding: 5px;
}

#footer ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

#footer li{
	float:left;
	margin:0px;
	padding:0px;
}

#footer li a{
	display: block;
	width: 150px;
	margin-left: 5px;
	text-align:left;
	color: #FE642E;
	padding:2px;
}